<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<!--sqlMapper-->
<sqlMap namespace="MachineElectricSysTheme">
	<resultMap class="com.ay.colliery.theme.MachineElectricSysTheme.pojo.MachineGraph" id="sumColumn">
	<result property="departmentName" column="departmentName"/>
		<result property="y" column="y"/>
		<result property="e" column="e"/>
		<result property="s" column="s"/>
		<result property="s" column="s"/>
		<result property="si" column="si"/>
		<result property="w" column="w"/>
		<result property="l" column="l"/>
		<result property="q" column="q"/>
		<result property="b" column="b"/>
		<result property="j" column="j"/>
		<result property="shi" column="shi"/>
		<result property="sy" column="sy"/>
		<result property="se" column="se"/>
		<result property="overhau" column="overhau"/>
	</resultMap>
	<!-- 查询条件 -->
	<sql id="mapWhereClause">
		<isParameterPresent>
			<isNotEmpty prepend="and" property="id"> TB_MACHINE_ELECTRIC_SYS_THEME.ID=#id#</isNotEmpty>
			<isNotEmpty prepend="and" property="status"> TB_MACHINE_ELECTRIC_SYS_THEME.STATUS=#status#</isNotEmpty>
			<isNotEmpty prepend="and" property="created"> TB_MACHINE_ELECTRIC_SYS_THEME.CREATED=#created#</isNotEmpty>
			<isNotEmpty prepend="and" property="createTime"> TB_MACHINE_ELECTRIC_SYS_THEME.CREATE_TIME=#createTime#</isNotEmpty>
			<isNotEmpty prepend="and" property="updated"> TB_MACHINE_ELECTRIC_SYS_THEME.UPDATED=#updated#</isNotEmpty>
			<isNotEmpty prepend="and" property="updateTime"> TB_MACHINE_ELECTRIC_SYS_THEME.UPDATE_TIME=#updateTime#</isNotEmpty>
			
			
			<isNotEmpty prepend="and" property="intactRate"> TB_MACHINE_ELECTRIC_SYS_THEME.INTACT_RATE like '%'+#intactRate#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="overhaulCondition"> TB_MACHINE_ELECTRIC_SYS_THEME.OVERHAUL_CONDITION like '%'+#overhaulCondition#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="departmentId"> TB_MACHINE_ELECTRIC_SYS_THEME.DEPARTMENT_ID like '%'+#departmentId#+'%'</isNotEmpty>
			<isNotEmpty prepend="and" property="overhauDate"> TB_MACHINE_ELECTRIC_SYS_THEME.OVERHAU_DATE like '%'+#overhauDate#+'%'</isNotEmpty>
			
		</isParameterPresent>
	</sql>
	<!-- add method insert-->
	<insert id="insert" parameterClass="com.ay.colliery.theme.MachineElectricSysTheme.pojo.MachineElectricSysTheme">
  		INSERT INTO TB_MACHINE_ELECTRIC_SYS_THEME(
				
				INTACT_RATE,
				OVERHAUL_CONDITION,
				DEPARTMENT_ID,
				OVERHAU_DATE,
				
				ID,
				STATUS,
				CREATED,
				CREATE_TIME,
				UPDATED,
				UPDATE_TIME) values(
				
				#intactRate#,
				#overhaulCondition#,
				#departmentId#,
				#overhauDate#,
				
				#id#,
				#status#,
				#created#,
				#createTime#,
				#updated#,
				#updateTime#)
	</insert>
	<!-- add method delete-->
	<delete id="delete" parameterClass="java.lang.String">
		UPDATE TB_MACHINE_ELECTRIC_SYS_THEME SET STATUS='0' 
  		WHERE 
 	 		ID=#id#</delete>
	<!-- add method getById-->
	<select id="getById" resultClass="com.ay.colliery.theme.MachineElectricSysTheme.pojo.MachineElectricSysTheme" parameterClass="java.lang.String">
 		SELECT 
			
			TB_MACHINE_ELECTRIC_SYS_THEME.INTACT_RATE AS intactRate,
			TB_MACHINE_ELECTRIC_SYS_THEME.OVERHAUL_CONDITION AS overhaulCondition,
			TB_MACHINE_ELECTRIC_SYS_THEME.DEPARTMENT_ID AS departmentId,
			TB_MACHINE_ELECTRIC_SYS_THEME.OVERHAU_DATE AS overhauDate,
			dbo.FN_codeToText(TB_MACHINE_ELECTRIC_SYS_THEME.DEPARTMENT_ID) as departmentName,
			
			TB_MACHINE_ELECTRIC_SYS_THEME.ID AS id,
			TB_MACHINE_ELECTRIC_SYS_THEME.STATUS AS status,
			TB_MACHINE_ELECTRIC_SYS_THEME.CREATED AS created,
			TB_MACHINE_ELECTRIC_SYS_THEME.CREATE_TIME AS createTime,
			TB_MACHINE_ELECTRIC_SYS_THEME.UPDATED AS updated,
			TB_MACHINE_ELECTRIC_SYS_THEME.UPDATE_TIME as updateTime
		from
		TB_MACHINE_ELECTRIC_SYS_THEME
  		where 
 	 		TB_MACHINE_ELECTRIC_SYS_THEME.ID=#id#
	</select>
	<!-- add method update-->
	<update id="update" parameterClass="com.ay.colliery.theme.MachineElectricSysTheme.pojo.MachineElectricSysTheme">
		UPDATE TB_MACHINE_ELECTRIC_SYS_THEME 
		<dynamic prepend="set">
			
			<isNotEmpty prepend="," property="intactRate"> INTACT_RATE=#intactRate#</isNotEmpty>
			<isNotEmpty prepend="," property="overhaulCondition"> OVERHAUL_CONDITION=#overhaulCondition#</isNotEmpty>
			<isNotEmpty prepend="," property="departmentId"> DEPARTMENT_ID=#departmentId#</isNotEmpty>
			<isNotEmpty prepend="," property="overhauDate"> OVERHAU_DATE=#overhauDate#</isNotEmpty>
			
			<isNotEmpty prepend="," property="id"> ID=#id#</isNotEmpty>
			<isNotEmpty prepend="," property="status"> STATUS=#status#</isNotEmpty>
			<isNotEmpty prepend="," property="created"> CREATED=#created#</isNotEmpty>
			<isNotEmpty prepend="," property="createTime"> CREATE_TIME=#createTime#</isNotEmpty>
			<isNotEmpty prepend="," property="updated"> UPDATED=#updated#</isNotEmpty>
			<isNotEmpty prepend="," property="updateTime"> UPDATE_TIME=#updateTime#</isNotEmpty>
		</dynamic>
  		WHERE 
 	 		ID=#id#
	</update>
	
	<!-- add method find-->
	<select id="find" resultClass="com.ay.colliery.theme.MachineElectricSysTheme.pojo.MachineElectricSysTheme" parameterClass="java.util.Map">
 		SELECT
			TB_MACHINE_ELECTRIC_SYS_THEME.INTACT_RATE AS intactRate,
			TB_MACHINE_ELECTRIC_SYS_THEME.OVERHAUL_CONDITION AS overhaulCondition,
			TB_MACHINE_ELECTRIC_SYS_THEME.DEPARTMENT_ID AS departmentId,
			TB_MACHINE_ELECTRIC_SYS_THEME.OVERHAU_DATE AS overhauDate,
			dbo.FN_codeToText(TB_MACHINE_ELECTRIC_SYS_THEME.DEPARTMENT_ID) as departmentName,
			
			TB_MACHINE_ELECTRIC_SYS_THEME.ID AS id,
			TB_MACHINE_ELECTRIC_SYS_THEME.STATUS AS status,
			TB_MACHINE_ELECTRIC_SYS_THEME.CREATED AS created,
			TB_MACHINE_ELECTRIC_SYS_THEME.CREATE_TIME AS createTime,
			TB_MACHINE_ELECTRIC_SYS_THEME.UPDATED AS updated,
			TB_MACHINE_ELECTRIC_SYS_THEME.UPDATE_TIME AS updateTime
		FROM
			TB_MACHINE_ELECTRIC_SYS_THEME
		WHERE
			TB_MACHINE_ELECTRIC_SYS_THEME.STATUS = '1'
		<include refid="MachineElectricSysTheme.mapWhereClause"/>
		order by departmentId
	</select>
	<!-- add method count-->
	<select id="count" resultClass="java.lang.Integer" parameterClass="java.util.Map">
 		SELECT COUNT(*) 
		FROM
			TB_MACHINE_ELECTRIC_SYS_THEME
		WHERE
			TB_MACHINE_ELECTRIC_SYS_THEME.STATUS = '1' 
		<include refid="MachineElectricSysTheme.mapWhereClause"/>
	</select>
	<!-- 查询系统  柱形图  -->
	<select id="sum" resultMap ="sumColumn" parameterClass = "java.lang.String">
			select * from VI_MACHINE_ELECTRIC where overhau like '%'+#date#+'%'
	</select>

</sqlMap>
